@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
}
img{
    width: 100%;
}
.title{
    text-align: center;
    font-size: 1.2em;
    padding: 1em;
    margin: 0 auto;
}
.player{
    border: 2px solid hsl(6, 38%, 47%);
    padding: 0.5em;
}
.score-board{
    text-align: center;
    color: wheat;
}
.score{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em auto;
    padding: 1em;
    /* background-color: rgba(255, 228, 196, 0.7); */
}
.score *{
    margin: 0 0.5em;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    padding: 5% 10%;
}

.game_btn{
    cursor: pointer;
    width: 200px;
    max-width: 100%;
    background-color: hsla(6, 93%, 71%, 0.5);
    border: 5px outset #fa7e70;
    border-radius: 50%;
    margin: 0 2%;
    padding: 2%;
    transition: all 1s;
    
}
.game_btn:hover{
    transform: scale(1.2);
    background-color: #fa8072;
    box-shadow: 0 0 100px #fa8072;

}
.game_btn:disabled{
    pointer-events: none;
}
.reset{
    display: flex;
    align-items: center;
    justify-content: center;
}
#reset{
    font-size: 0.8em;
    background-color: #fa7e70;
    color: black;
    font-weight: 700;
    border-radius: 100px;
    border: none;
    width: 100px;
    padding: 1em;
    margin: 0 auto;
}
#reset:hover{
    box-shadow: 0 0 20px #fa8072;
}
#win{
    font-size: 1.2em;
}
